<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name ="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsRecetarioSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1193/wsRecetario.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsRecetarioSoap" contract="NSwswsRecetario.wsRecetarioSoap"
        name="wsRecetarioSoap" />
    </client>
  </system.serviceModel>
</configuration>